[submodule "Annotations/hf_video_annotation"]
	path = Annotations/hf_video_annotation
	url = git@github.com:supmo668/hf_video_annotation.git
[submodule "benchmark"]
	path = benchmark
	url = git@github.com:supmo668/labar_science_benchmark.git
[submodule "candidate_framework/Ask-Anything"]
	path = candidate_framework/Ask-Anything
	url = git@github.com:OpenGVLab/Ask-Anything.git
[submodule "candidate_framework/LLaVA-NeXT"]
	path = candidate_framework/LLaVA-NeXT
	url = git@github.com:LLaVA-VL/LLaVA-NeXT.git
[submodule "candidate_framework/blip-image-captioning-api"]
	path = candidate_framework/blip-image-captioning-api
	url = git@github.com:askaresh/blip-image-captioning-api.git
