click>=8.0.0
tqdm>=4.65.0
python-dotenv>=1.0.0
opencv-python>=4.8.0
numpy>=1.24.0
openai>=1.0.0
torch>=2.0.0
torchvision>=0.15.0
clip @ git+https://github.com/openai/CLIP.git
Pillow>=9.0.0
transformers>=4.30.0
PyYAML>=6.0.0
langchain==0.3.13
boto3>=1.24.0
fastapi>=0.95.0
uvicorn>=0.22.0
pydantic>=2.0.0
bentoml
reportlab
langchain
langgraph
langchain_openai
